* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-1: #222222;
    --color-2: #f2f2f2;
    --color-3: #59b210;
    --color-4: #999999;
    --color-red: #cd1818;
    --color-white: #fff;
    --color-body: #f2f2f2;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
a{
    color: var(--color-1);
}
a:hover{
    color: var(--color-1);
    text-decoration: none;
}
button{
    border: 1px solid  transparent;
    background-color: transparent;
}
li{
    list-style: none;
}

.button{
    background-color: var(--color-3);
    color: var(--color-white);
    border-radius: 30px;
    padding: 15px 40px;
    text-transform: uppercase;
    transition: all .5s;

}

/* HEADER */
.header__top{
    padding: 50px 0;
}
.header__logo a{
    font-size:  38px;
    color: var(--color-3);
}
.header__search{
    display:flex;
    border: 1px solid var(--color-2);
    border-radius: 40px;
    padding: 10px 0;
}
.header__search form {
    border-left: 1px solid var(--color-2);
    display: flex;
}
.header__search .form-group{
        padding: 0 80px 0 0;
}
.header__search form input{
    border: 1px solid transparent;
}
.header__search form input:focus{
    box-shadow:none;
    border: 1px solid transparent;

}
.header__search form button{
    padding: 10px 20px;
    background: var(--color-2);
    border-radius: 40px;
    transition: all .5s;
}
.header__search form button:hover{
    background: var(--color-3);
    color: var(--color-white);
}
.header__search .dropdown-item:hover{
    background-color: var(--color-white);
    color: var(--color-3);
}
ion-icon {
    padding: 0 8px 0 0;
}
.header__cart{
    display: flex;
    justify-content: center;
    padding: 10px ;
    align-items: center;
}
.header__cart-icon{
    border: 1px solid var(--color-1);
    border-radius: 50%;
    padding: 8px 10px ;
    position: relative;
    cursor: pointer;
}
.header__cart-icon:hover{
    border: 1px solid var(--color-3);
}
.header__cart-icon:hover i{
   color: var(--color-3);
}
.header__number{
    position: absolute;
    top: 6px;
    right: 67px;
    padding: 0px 7px;
    background-color: var(--color-3);
    border-radius: 50%;
    color: var(--color-white);
    font-size: 13px;
    display: none;
}
.header__bottom{
    background-color: var(--color-1);
}
.header__bottom .navbar{
    padding: 20px 0;
}
.header__bottom .nav-item{
    padding-right: 10px;
}
.header__bottom .nav-item.active .nav-link{
    color: var(--color-3);
    
}
.header__bottom .nav-link,
.header__tel{
    color: var(--color-white);
}
.header__bottom .nav-link{
    text-transform: uppercase; 
    transition: all .5s;
}
.header__bottom .nav-link:hover{
    color: var(--color-3);
}
.header__tel{
    border: 1px solid var(--color-2);
    border-radius:20px;
    padding: 10px 30px;
    transition: all .5s;
}
.header__tel:hover{
    color: var(--color-3);
}
.header__bottom-main i{
    color: var(--color-white);
}
/* CAROUSEL */
.carouselCyber{
   background : url(../img/carousel-img2.jpg) no-repeat center ;
   background-size:cover;
   /* padding: 50px 0; */
}
.carousel__col{
    position: relative;
}
.carousel__text{
    position: absolute;
    top: 30%;
    left: 25px;
    text-transform: uppercase;
}
.carousel__text p{
    font-size: 18px;
    color: var(--color-3);
    letter-spacing: 3px;
}
.carousel__text h3{
    font-size: 30px;
}
.carousel__text h2{
    font-size: 50px;
}
.carousel__text h2 span{
    color: var(--color-3);
}

.carousel__text .carousel__btn{
    
    margin: 20px 0;
}
.carousel__text .button:hover{
    background-color: var(--color-1);
}
.carousel__img{
    animation: move 5s infinite;
    /* width: 100%; */
}
.carouselCyber .carousel-inner{
    padding: 50px 0;
}
.carouselCyber .carousel-indicators li{
    border-radius: 50%;
    border: 1px solid var(--color-3);
    width: 15px;
    height: 15px;
    margin: 0 5px;
}
.carouselCyber .carousel-indicators li:hover{
    background-color: var(--color-3);
    opacity: 1;
}
.carouselCyber .carousel-indicators li.active{
    background-color: var(--color-3);
}

/* INTRODUCE */
.introduce{
    padding:50px 0;
}
.introduce__main {
    position: relative;
}
.introduce__main:hover .introduce__btn{
    opacity: 1;
    visibility:visible;
}
.introduce__content{
    position: absolute;
    top: 30%;
    left: 45px;  
}
.introduce__text{
    transition: all .5s;
}
.introduce__main:hover .introduce__text{
    transform: translateY(-10%);
}
.introduce__btn{
    background-color: transparent;
    border: 1px solid var(--color-1);
    color: var(--color-1);
    padding: 10px 20px;
    font-size: 14px;
    transition: all .5s;
    opacity: 0;
    visibility:hidden;
}
.introduce__btn:hover{
    background-color: var(--color-3);
    color: var(--color-white);
    border: 1px solid transparent;

}
/* PRODUCT */
.product{
    padding: 20px 0 50px;
    background: var(--color-2);
}
.product__heading{
    padding: 50px 0
}
.product__heading h2{
    text-align: center;
    padding: 10px 0
}

.product__tabs{
    display: flex;
    justify-content: center;
}
.product__btn{
    padding:10px 25px;
    font-size: 16px;
    margin: 0 10px;
    background: transparent;
    border: 2px solid #eaeaea;
    color: var(--color-1);
    margin: 0 5px;
}
.product__btn:hover{
    background-color: var(--color-3);
    color: var(--color-white);
}
.product__btn.active{
    background-color: var(--color-3);
    color: var(--color-white);
}
.product__card .card{
    margin:0 0 40px  ;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s;
}
.product__card .card:hover{
    border: 1px solid var(--color-3);
}
.product__img{
    padding: 30px 0;
    position: relative;   
    overflow: hidden;
}
.product__img img{
    transition: all .5s;
}
.product__card .card:hover .product__img img{
    transform: scale(1.1);
}
.prduct__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
    transition: all .5s;
    opacity: 0;
    visibility:hidden;
}
.product__card .card:hover .prduct__overlay,
.product__card .card:hover .product__icon {
    opacity: 1;
    visibility:visible;
}
.product__icon{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility:hidden;
}
.product__icon i {
    background-color: var(--color-white);
    padding: 15px;
    border-radius:50%;
    font-size: 20px;
    margin: 10px 5px;
    transition: all .5s;
    cursor: pointer;
}
.product__icon i:hover{
    background-color: var(--color-3);
    color: var(--color-white);
}
.product__list a,
.product__star{
    color: var(--color-4);
}
.product__list a:hover{
    color: var(--color-3);
}
.product__card .card-title{
    padding:10px 0;
    margin: 0;
    font-size: 18px; 
    transition: all .5s;
}
.product__card .card-title:hover{
    color: var(--color-3);
}
.product__card .card-text{
    font-size: 25px;
    color: var(--color-3);
}
/* MODAL */
.product .modal-title{
    color: var(--color-3);

}
.product .modal-content{
    height: 100%;
    
}
.product__select{
    display:flex;
   align-items: nomal;
}
.product__cart{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom : 1px solid #ccc;
}
.product__cart p {
    color: var(--color-1);
    margin: 0;
    padding: 0 5px;
    font-weight: 300;
}
.product__cart img{
    width: 50%;
}
.product__cart-img{
    display:block;
    width: 50%;
    margin: auto;
}
.product__button {
    width: 25px;
    height: 25px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 50%;
    opacity: 0.5;
    
}
.product__button:hover{
    opacity: 1;
}
.product .modal-body{
    overflow: auto;
}
.product .modal-footer{
    border: none;
}

.product__total p{
    color: var(--color-1);
    text-align: right;
    padding: 20px 0 0;
    font-weight: 400;
    font-size: 20px;
}
.product__total p span{
    color: var(--color-red);
    padding: 0 5px;
}
.product .modal-footer{
    justify-content:space-between;
}
.product .modal-footer button{
    width: 45%;
    margin: 0;
    outline:none;
}
#table__body td{
    line-height:4.5; 
}

/* SWEET ALERT */
body .swal2-styled.swal2-confirm{
    background-color: var(--color-3);
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto;
    }

}
/* FOOTER */
footer{
    background: var(--color-1);
    padding: 50px 0 20px;
    color: var(--color-2);
}
footer a{
    color: var(--color-white);
    transition: all .5s;
}
footer a:hover{
    color: var(--color-3);
}
footer h5   {
    padding: 10px 0;
    font-size: 18px;
}
footer p,
footer a{
    color: var(--color-4);
}
footer li{
    padding:5px 0;
}
.footer__line{
    border-right: 1px solid var(--color-2);
}
footer form{
   display: flex;
   padding: 0  0 30px ;
}
footer form .form-group{
    margin: 0;
}
footer .form-control{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 20px 100px 20px 20px;
}
footer .form-control:focus{
    box-shadow:none;
    border-color: transparent;
    border: 1px solid transparent;
}
footer .footer__btn{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--color-3);
    color: var(--color-white);
    padding: 5px 10px;
    transition: all .5s;
}
footer .footer__btn:focus{
    box-shadow:none;
}
footer .footer__btn:hover{
    background-color: var(--color-1);
    border: 1px solid var(--color-white);
}
footer i{
    padding: 0 5px;
}
.footer__icon{
    padding:0 0 20px;
}

/* KEYFRAME */

@keyframes move{
    0% {
        transform: rotate(5deg) translate(2px, 2px); 
    }
    50% {
        transform: rotate(-5deg) translate(-2px, -2px);
    }
    100% {
        transform: rotate(5deg) translate(2px, 2px); 
    } 
}

/* MEDIA QUERY */
@media only screen and (max-width: 1200px){
    /* HEADER */
    
    .header__search .form-group{
        padding: 0 100px 0 0;
    }
    .header__search form button{
        margin: 0 10px;
    }
    .header__cart{
        justify-content:flex-end;
    }

    /* CAROUSEL */
    .carousel__img{
        /* width: 100%;
        height:auto; */
    }
}
@media only screen and (max-width: 992px){
    /* HEADER */
    .header__logo {
        text-align: center;
        padding-bottom: 30px;
    }
    #header__menu {
        text-align: center;
        padding: 0 0 30px;
    }
    #header__menu ul{
        padding: 20px 0;
    }
    #header__menu li{
        padding: 5px 0;
    }
}
@media only screen and (max-width: 768px){
    /* HEADER */
    .header__col-center{
        margin: auto;
    }
    .header__cart{
        justify-content:center;
    }

    /* CAROUSEL */
    .carousel__text{
        position: static;
        text-align: center;
    }
    .carousel__img{
        /* width: 50%; */
        margin: auto;
    }

    /* INTRODUCE */
    .introduce__main {
        margin: 0 0 20px;
    }
   
}